body {
    background-color: #333;
}

.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login-header img {
    width: 250px;
}



.login-header h1 {
    color: #fff;
    font-size: 1.5em;
}

.login-input {
    border: 2px solid #333;
    border-radius: 8px;
    color: black;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.login-button {
    background-color: #28a745;
    border-radius: 8px;
    color: #fff;
    padding: 15px;
    max-width: 300px;
    font-size: 1em;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.login-button:disabled {
    background-color: red;
    color: black;
    cursor: auto;
}

footer {
    text-align: center;
    margin-bottom: 10px;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;

    gap: 10px;
    z-index: 10;
}

.logo-container img {
    height: 50px;
}